<%- include("partials/header") %>
<main>
    <div class="card">
        <h1>Welcome to My Blog</h1>
        <a href="/form" class="btn">Create News +</a>
        <a href="/home" class="btn">View Posts</a>
    </div>
</main>
<%- include("partials/footer") %>
